// aktiv

@font-face {
  font-family: 'Aktiv_Light';
  src: url('../fonts/Aktiv/AktivGroteskCorp-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Aktiv';
  src: url('../fonts/Aktiv/AktivGroteskCorp-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Aktiv_Medium';
  src: url('../fonts/Aktiv/AktivGroteskCorp-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Aktiv_Bold';
  src: url('../fonts/Aktiv/AktivGroteskCorp-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Aktiv_Italic';
  src: url('../fonts/Aktiv/AktivGroteskCorp-Italic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fyodor';
  src: url('../fonts/Fyodor/Fyodor-BoldOblique.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
