.btn {
  position: relative;
  padding: 6px 24px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  color: $color-white;
  font-size: 16px;
  letter-spacing: 0.1px;
  background-color: $color-red;
  font-family: $font-family_medium;
  box-shadow: none;
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
    background-color: #FF143E;
    transition: all 0.3s;
  }
  
  &:hover,
  &:focus {
    background-color: #FF143E;
    transition: all 0.3s;
  }
  
  &:active {
    background-color: #C71635;
  }
}

.btn_disabled {
  border-color: $color-gray-40;
  background-color: $color-gray-10;
  color: $color-gray-60;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-40;
    background-color: $color-gray-10;
    color: $color-gray-60;
  }
}

.btn_standart {
  border-color: $color-blue-30;
  background-color: $color-blue-30;
  color: $color-white;

  &:hover,
  &:focus {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
  }

  &:active {
    border-color: darken($color-blue-50, 5%);
    background-color: darken($color-blue-50, 5%);
  }
}


.btn_attach {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: 0;
  color: $color-blue-30;
  font-family: $font-family_bold;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    color: $color-blue-50;
  }

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.btn_upload {
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}