.layout-inner {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}

.layout-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.page-hero {
  min-width: 100%;
  .page__item {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile {
  display: none;
}

.page-shop .header {
  .hamburger__item, .hamburger span:before, .hamburger span:after {
    background-color: $color-black;
  }
  .hamburger_active span {
    background-color: transparent;
  }
}

@media (min-width: 1999px) {
  .header__inner .menu .nav__link {
    margin: 12px 20px;
    .link_menu {
      font-size: 22px;
    }
  }
  .contacts_box__item .links_tile .link_container .link {
    font-size: 18px;
  }
  .map_container .map {
    height: 600px;
  }
}

@media (min-width: 1599px) {
  .nav__link {
    margin: 1.5rem;
  }
}

@media (min-width: 1500px) {
  .header__inner .menu .nav__link {
    margin: 12px;
    .link_menu {
      font-size: 17px;
    }
  }
}

@media (min-width: 1300px) {
  .header__inner .menu .nav__link {
    margin: 12px;
    .link_menu {
      font-size: 13px;
    }
  }
}

@media (max-width: 1300px) {
  .header__inner .menu .nav__link {
    margin: 12px 6px;
    .link_menu {
      font-size: 13px;
    }
  }
  .group_top {
    flex-direction: column;
    .g_top {
      width: 100%;
      margin-right: 0;
    }
    .program_img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .pop-photo {
    .group_top {
      flex-direction: row;
      .g_top {
        width: 50%;
        margin-right: 32px;
      }
      .program_img {
        width: calc(50% - 32px);
        margin-bottom:0;
      }
    }
  }
}

// планшеты

@media (max-width: 1199px) {



  .pop-photo {
    .group_top {
      flex-direction: column;
      .g_top {
        width: 100%;
        margin-right: 0;
      }
      .program_img {
        width: 100%;
        margin-bottom: 0;
      }
      .middle {
        margin-bottom: 20px;
      }
    }
  }

  .shedule_item {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
    &:nth-child(3n+3) {
      margin-right: 20px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .page-shedule .tabs__buttons {
    width: 20%;
    margin-right: 20px;
    .tabs__btn {
      border-radius: 6px;
      margin-bottom: 12px;
    }
  }

  .shedule_item .left {
    font-size: 20px;
  }

  .shedule_item .right .s-name {
    font-size: 14px;
  }

  .shedule_item .right .trainer {
    font-size: 13px;
  }

  .mobile {
    display: flex;
  }

  .after-link {
    background-color: $color-red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      text-decoration: none;
      background-color: #FF143E;
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      background-color: #FF143E;
      transition: all 0.3s;
    }
  }

  .mobile-top-border {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /**
    * size on tablet
    */

  .layout-inner {
    width: 100%;
    max-width: 100%;
  }

  .layout-padding {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__inner .menu {
   .nav__link {
     display: none;
   }
  }

  .burger {
    display: block;
  }

  body {
    font: $font-family 16px/1.5;
  }

  .header__inner .right .phone_link_link {
    font-size: 18px;
  }

  .header__inner .right .lk_link_link {
    img {
      margin-right: 0;
    }
    span {
      display: none;
    }
  }

  .page-main .page .hero-item .h1-top {
    font-size: 20px;
  }

  .page-main .page .hero-item h1 {
    font-size: 90px;
    margin-bottom: 4px;
  }

  .page-main .page .hero-item .slogan {
    font-size: 20px;
  }


  .page__item_body {
    position: relative;
    .left {
      width: 100%;
    }
    .right.adv-right {
      position: absolute;
      bottom: 0;
      right: 0;
      display: none;
    }
  }

  .with-subtitle .subtitle {
    max-width: 100%;
  }

  .image-top .right {
    max-width: 43vw;
  }

  .adv-outter {
    .left {
      margin-right: 0;
    }
  }

  .with-link {
    .right {
      display: none;
    }
  }

  .bold {
    font-size: 16px;
  }

  .list_icons li p {
    font-size: 16px;
  }

  .advantage_box__item .light {
    max-width: 80%;
  }

  .text_container .light {
    font-size: 14px;
    line-height: 1.3;
  }

  .training-box {
    max-width: 100%;
    .text_container {
      max-width: 50%;
    }
  }

  .image-top .right {

  }


  .with-mini-slider {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 0;
    .left_slider {
      padding-bottom: 40px;
    }
    .list_icons {
      column-count: 2;
      li {
        margin-right: 24px;
        p {
          font-size: 16px;
        }
      }
    }
  }

  .contacts_box__item .links_tile {
    flex-wrap: wrap;
  }

  .contacts_box__item .links_tile .link_container {
    width: 50%;
    margin-bottom: 20px;
  }

  .contacts-box {
    background-image: url('../img/group-1.png');
    background-repeat: no-repeat;
    background-position: 380px bottom;
    -webkit-background-size: contain;
    background-size: contain;
    .right {
      display: none;
    }
  }

  .footer__inner_box {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__inner_box .footer__inner_item {
    padding-top: 32px;
    width: 50%;
  }

  .footer__inner_box .logo_footer {
    width: 50%;
    padding-top: 0;
  }

  .footer__inner_box {
    margin-bottom: 0;
    .link {
      font-size: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer__inner_box .footer__inner_item:nth-child(1) {
    width: 50%;
    order: 1;
  }

  .footer__inner_box .footer__inner_item:nth-child(2) {
    width: 50%;
    order: 3;
  }

  .footer__inner_box .footer__inner_item:nth-child(3) {
    width: 50%;
    order: 4;
  }

  .footer__inner_box .footer__inner_item:nth-child(4) {
    width: 50%;
    padding-top:40px;
    order: 2;
  }

  .footer__inner_bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    .left {
      margin-bottom: 12px;
    }
  }

  .card_info__item {
    max-width: 50%;
  }

  .page-subpage h1 {
    font-size: 40px !important;
  }

  .simple-tile__item {
    width: calc(50% - 16px);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .simple-tile__item .bottom .descr, .card-type p {
    font-size: 14px;
  }

  .card-type {
    padding: 5px 12px;
  }

  .simple-tile__item .top .card-name, .simple-tile__item .bottom .price .left .price-ammount {
    font-size: 18px;
  }

  .simple-tile__item .middle {
    .light {
      font-size: 15px;
    }
    .time {
      font-size: 18px;
    }
  }

  .tabs__buttons {
    margin-top: 0;
  }

  .page-top-descr {
    max-width: 70%;
  }

  .article-outter {
    margin-top: 0;
  }

  .article {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}


@media (max-width: 640px) {

  /**
    * size on mobile
    */

  .white-bg {
    border-radius: 20px;
  }

  .layout-inner {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
  }

  .layout-padding {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .page-main .page .hero-item {
    padding-bottom: 1.2rem;
  }

  .page-main .page .hero-item .h1-top {
    font-size: 16px;
  }

  .page-main .page .hero-item h1 {
    font-size: 60px;
    margin-bottom: 4px;
  }

  .page-main .page .hero-item .slogan {
    font-size: 16px;
  }

  .header__inner .right {
    .phone_link {
      display: none;
    }
  }
  .header__inner .right .lk_link {
    margin-right: 0;
  }

  .page__item_body {
    position: relative;
    .left {
      width: 100%;
      margin-right: 0;
      .advantage_box__item {
        width: 54%;
        padding-right: 24px;
        margin-right: 0;
        margin-bottom: 24px;
        padding-bottom: 16px;
        &:nth-child(1), &:nth-child(2)  {
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          padding-top: 16px;
        }
        &:nth-child(3n+3) {
          margin-right: 0;
        }
        &:nth-child(2n) {
          margin-right: 0;
          padding-right: 0;
          width: 46%;
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    .right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .page__item_body .right {
    width: 58vw;
  }

  .page__item_body .right.adv-right {

    display: block;
  }

  .adv-outter {
    padding-bottom: 150px;
  }

  .page__item_body .left .advantage_box__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .page__item {
    margin-top: 0;
  }

  .page__item_title.title-solo h2 {
    margin-bottom: 32px;
  }

  .advantage_box__item .light {
    max-width: 90%;
    font-size: 13px;
  }

  .with-slider {
    padding-bottom: 40px;
  }

  .training-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .right {
      position: static;
      width: 100%;
      max-width: 100%;
    }
  }

  .advantage_box__item .bold {
    max-width: 90%;
  }

  .training-box .text_container {
    max-width: 100%;
  }

  .with-link .left {
    width: 100%;
    h2 {
      margin-bottom: 12px;
    }
  }

  .with-mini-slider .list_icons {
    column-count: 1;
  }

  .contacts-box {
    background-image: none;
  }

  .footer__inner_box .footer__inner_item .footer_right .lk_link_link {
    font-size: 14px;
  }

  .footer__inner_box .footer__inner_item .footer_right .phone_link_link {
    font-size: 16px;
  }

  .footer__inner_box .footer__inner_item:nth-child(4) .footer_right {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .lk_link {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  .footer__inner_box .footer__inner_item:nth-child(2), .footer__inner_box .footer__inner_item:nth-child(3) {
    width: 100%;
    padding-top: 0;
  }

  .footer__inner_box .footer__inner_item:nth-child(3) {

  }

  .footer__inner_box .footer__inner_item:nth-child(2) {
    padding-top: 30px;
    .link:last-child {
      margin-bottom: 20px;
    }
  }

  .footer__inner_bottom .left p:first-child {
     font-size: 13px;
  }

  .footer__inner_bottom .right .link_white {
    font-size: 14px;
    img {
      width: 120px;
    }
  }

  .footer__inner_box .footer__inner_item .footer_right .lk_link_link {
    padding: 8px 16px;
  }

  .contacts_box__item .links_tile .link_container {
    margin-bottom: 12px;
  }

  .light {
    font-size: 14px;
  }

  .contacts_box {
    margin-bottom: 32px;
  }

  .contacts_box__item {
    margin-bottom: 20px;
  }

  .header__inner .logo img {
    display: block;
    width: 80px;
  }

  .with-subtitle h2 {
    margin-bottom: 12px;
  }

  .with-subtitle {
    margin-bottom: 16px;
  }

  .card_info {
    flex-direction: column;
  }
  .card_info__item {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    &:first-child {
      margin-bottom: 12px;
    }
  }

  .tabs__buttons .tabs__btn {
    font-size: 15px;
  }

  .card_info__item p {
    font-size: 13px;
  }

  .simple-tile__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .page-top-descr {
    max-width: 100%;
  }

  .page-subpage h1 {
    font-size: 30px !important;
  }

  .article {
    h2 {
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 12px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
    }
    b, a {
      font-size: 14px;
    }
  }
  .popup_inner .popup_top p {
    line-height: 1.2;
  }
  .slider .slick-list, .slider_group .slick-list, .slider_mini .slick-list {
    margin-right: 0;
  }
  .slider_group .slider_slide, .slider_slide {
    margin-right: 0;
  }

  .shedule_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .page-shedule .tabs {
    flex-direction: column;
    margin-top: 6px;
  }

  .timing_filters {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .dropdown_filters {
      margin-bottom: 12px;
      width: 100%;
    }
  }

  .page-shedule .tabs__content {
    width: 100%;
  }

  .page-shedule .tabs__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar { display: none };
    .tabs__btn {
      width: auto;
      border-radius: 6px;
      margin-bottom: 0;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .page-shedule .mb-70 {
    padding-top: 20px;
  }

  .page-shedule .tabs__buttons .tabs__btn .date {
    font-size: 18px;
  }

  .page-shedule .tabs__buttons .tabs__btn .day {
    font-size: 13px;
  }

  .shedule_item .left {
    font-size: 26px;
  }

  .shedule_item .right .s-name {
    font-size: 16px;
  }

  .shedule_item .right .trainer {
    font-size: 14px;
  }
}