.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.page__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page__item {
  @extend .layout-padding;
  padding-top: 30px;
  margin-top: 32px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}